* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Mulish';
}

body {
    font-family: 'Mulish';
}

#app {
    max-width: 43rem;
    margin: 0 auto;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.6rem;

    padding: 1.2rem 2.8rem;

    background-color: #065E7C;
    
}


.logo {
    width: 4rem;
    height: 4rem;

    object-fit: cover;

}

.input-wrapper label {
    width: 1px;
    height: 1px;

    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 100%;
    padding: 1.2rem;

    background-color: #3395b6;
    border: 0;
    border-radius: .4rem;
    
    font-size: 1.6rem;
    font-weight: 400;
}

.input-wrapper input::placeholder {
    color: #ffffff;
    opacity: 0.56;
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;

    object-fit: cover;

    border-radius: 50%;
   
}

.description {
    padding: 3.1rem 2.6rem 3.4rem 2.2rem;
}

.description p {
    font-size: 16px;
    font-weight: 400;
    color: #121214;
}


.banner img {
    width: 43rem;
}

.blog_Title {
    font-weight: bold;
    /* padding: 3.1rem 6.6rem 3.1rem 2.2rem; */
}

.like_dislike {
    margin-top: .9rem;
    display: flex;
    gap: 1.2rem;
    
    margin-bottom: 3.1rem;
}

.desktop_2 {
    padding: 0 2.4rem 3.9rem 2.2rem;
}

.second_Title {
    margin-bottom: 3.2rem;
}

.item {
    display: flex;
    gap: 1.6rem;

    margin-bottom: 3.2rem;
}

.item:last-child{
    margin: 0;
}

.item img {
    width: 15.1rem;
    height: 8.4rem;

    object-fit: cover;
}

.item h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.item p {
    font-size: 1.4rem;
    font-weight: 400;
}

footer {
    display: flex;
    justify-content: center;

    padding: 1.6rem;

    background-color: #387E96;
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff;
}

@media (min-width: 700px) {
    #app {
        max-width: 144.40rem;
        margin: 0 auto;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.6rem;
    
        padding: 1.2rem 11.2rem;
    
        background-color: #065E7C;
        
    }

    .input-wrapper input {
        width: 100.83rem;
        padding: 1.2rem;
    
        background-color: #3395b6;
        border: 0;
        border-radius: .4rem;
        
        font-size: 1.6rem;
        font-weight: 400;
    }

    .input-wrapper input::placeholder {
        color: #ffffff;
        opacity: 0.56;
    }

    .banner {
        width: 80.3rem;
        height: 40.5rem;

        object-fit: cover;
    }

    .blog_Title{
        width: 77rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .desktop {
        width: 80.3rem;
    }

    .desktop h1 {
        font-size: 2.4rem;
        font-weight: bold;
        /* margin-top: 3.2rem; */
    }

    .desktop p {
        font-size: 1.6rem;
        margin-bottom: 3.9rem;
    }

    .description {
        margin-right: 0;
    }


    .content {
        padding: 4.4rem 11.0rem 3.9rem 10.9rem;

        display: flex;
    }

    

    .desktop_2 {
        padding: 0 0 0 3.4rem;
        margin-bottom: 3.4rem;
    }

    
}
    